# Application
PORT=8000
NODE_ENV=production
SERVICE_NAME=secops-guard

# Kafka
KAFKA_BROKER=kafka:9092
KAFKA_CLIENT_ID=secops-guard-client
KAFKA_GROUP_ID=secops-detection-group
KAFKA_TOPIC=security.audit.events

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=secops@2026!

# ELK Stack Configuration
STACK_VERSION=9.1.0
ES_HOST=http://elasticsearch:9200
KIBANA_HOST=http://kibana:5601
METRICBEAT_SETUP_DASHBOARDS=false

# CI/CD Deployment Variables
CI_REGISTRY_IMAGE=registry.gitlab.com/JaguarsCodehub/devsecops-kafka-events-docker
IMAGE_TAG=latest
EC2_HOST=your-ec2-ip-here
EC2_USER=ubuntu
